.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.priviewLabel{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.crudOperation{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.table{
    width: 100%;
}
.updateContainer{
    display: none;
}